name: Sync SLOs

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile SLOs with Caffeine
        uses: Brickell-Research/caffeine_lang_github_action@main
        with:
          blueprint_file: blueprints.caffeine
          expectations_dir: brickell_research
          output_path: output

      - name: Fix output permissions
        run: sudo chown -R $USER:$USER output

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: output
        run: terraform init

      - name: Terraform Validate
        working-directory: output
        run: terraform validate

      - name: Terraform Apply
        working-directory: output
        run: terraform apply -auto-approve
        env:
          TF_VAR_honeycomb_api_key: ${{ secrets.HONEYCOMB_API_KEY }}
          TF_VAR_honeycomb_dataset: caffeine-lang-website

      - name: Commit Terraform State
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -f output/*.tfstate
          git commit -m "[SLO Sync] Update Terraform state [skip ci]" || exit 0
          git push
